<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Basic Rover UI</title>
        <meta name="description" content="Flask test page derived from Adafruit_Python_BNO055 webgl_demo">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/rover.css') }}" rel="stylesheet">
        <style>
            body {
              padding-top: 50px;
              padding-bottom: 20px;
            }
        </style>
    </head>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="text-center">Basic Rover UI</h1>
          </div>
        </div>
        <div class="row" id="controls">
          <div class="col-sm-12">
            <h3>Actions:</h3>
            <form>
              <div class="form-row">
                <div class="form-group">
                  <button type="button" class="btn btn-danger btn-block" id="stop">STOP !</button>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <button type="button" class="btn btn-primary btn-block" id="increaseSpeed">Accelerate</button>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" id="turnLeft">Left</button>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" id="stopTurning">Center</button>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" id="turnRight">Right</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <button type="button" class="btn btn-primary btn-block" id="decreaseSpeed">Decelerate</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script>
      $(document).ready(function() {
        
        // Sop button click handler.
        $('#stop').click(function() {
          $.post("{{ url_for('stop_driving') }}");
        });

        // Incrementally increase forward speed
        $('#increaseSpeed').click(function() {
          $.post("{{ url_for('increase_speed') }}");
        });
        
        // Incrementally decrease forward speed
        $('#decreaseSpeed').click(function() {
          $.post("{{ url_for('decrease_speed') }}");
        });
        
        // Incrementally turn more leftward
        $('#turnLeft').click(function() {
          $.post("{{ url_for('turn_more_left') }}");
        });
        
        // Incrementally turn more leftward
        $('#turnRight').click(function() {
          $.post("{{ url_for('turn_more_right') }}");
        });
        
        // Incrementally turn more leftward
        $('#stopTurning').click(function() {
          $.post("{{ url_for('stop_turning') }}");
        });
        
      });
      </script>
    </body>
</html>
